<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first website</title>
</head>

<body>

    <header>
        <img src="./download.png" alt="coca cola logo">
        <nav>
            <ul>
                <li><a href="./index.html">Homepage</a></li>
                <li><a href="./inputs.html">Inputs</a></li>
                <li><a href="./other-tags.html">Otros tags</a></li>
            </ul>
        </nav>
        <form action="">
            <input type="search" placeholder="Haz tu búsqueda">
            <button></button>
        </form>
    </header>

    <main>
        <h1>Hola, mi primera página</h1>

        <button onclick="alert('Haciendo pedido...')">Haz tu pedido ahora!</button>
    </main>

</body>

</html>