<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inputs examples</title>
</head>

<body>
    <header>
        <img src="./download.png" alt="coca cola logo">
        <nav>
            <ul>
                <li><a href="./index.html">Homepage</a></li>
                <li><a href="./inputs.html">Inputs</a></li>
                <li><a href="./other-tags.html">Otros tags</a></li>
            </ul>
        </nav>
        <form action="">
            <input type="search" placeholder="Haz tu búsqueda">
            <button></button>
        </form>
    </header>
    <main>
        <h1>Inputs</h1>

        <details>
            <summary>Titulo</summary>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolores deleniti dolorum possimus non
                quo, debitis earum temporibus autem, ea maxime! Debitis veniam ratione similique enim totam dolorum id
                quod.</p>
        </details>


        <p>El siguiente código:</p>
        <code>Alert("This is js code")</code>
        <p>Sirve para mostrar un mensaje flotante en el navegador</p>



        <section>
            <h2>pre formateado</h2>

            <p>
                Párrafo 1



                Párrafo 2
            </p>

            <pre>
                {
                    "name": "Eduardo",
                    
                    "lastName": "Gonzalez"
                }
            </pre>

            <figure>
                <blockquote cite="https://www.huxley.net/bnw/four.html">
                    <p>
                        Words can be like X-rays, if you
                        use them properly—they’ll go
                        through anything. You read and
                        you’re pierced.
                    </p>
                </blockquote>
                <figcaption>—Aldous Huxley,
                    <cite>Brave New World</cite>
                </figcaption>
            </figure>
        </section>
    </main>
    <aside></aside>
    <footer></footer>
</body>

</html>